{% extends "base.html" %}
{% block content %}
<div class="container">
  <h1>Welcome to PropSciences!</h1>
  <h4>This is site enables the user to add a listing of a house, view listings posted by other users,
   interact with the ArcGIS API features, and read my data analyses. </h4>
   <h4>View my LinkedIn: <a href="https://www.linkedin.com">linkedin</a>  </h4>
   <h5>hey hows it goin this is a ttest</h5>
   <h4>View my GitHub: <a href="https://www.gitHub.com">GitHub</a>  </h4>


</div>




{% endblock %}
